<nav id="nav">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar">
      <div class="container">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ">
            <li class="nav-item">
              <a
              class="nav-link home"
              aria-current="page"
                routerLink="home"
               href="">K & N </a>
               <a
                class="nav-link home"
                id="home"
                aria-current="page"
                routerLink="products"
                >Products</a>
              
              <a routerLink="basket" class="cart1"><i class="bi bi-cart-check"></i> </a>
              
              
            </li>
            

            
          </ul>
        </div>
      </div>
    </nav>
  </div>
</nav>
